<%- include("partials/header.ejs"); %>
<h1>Contact</h1>
<p><%=content%></p>
<h1>Want to connect to me</h1>
<ul>
    <li><h2><a href="https://github.com/theMitocondria">Github</a></h2></li>
    <li><h2><a href="https://portfolio-xi-eight-61.vercel.app/">Portfolio</a></h2></li>
    <li><h2><a href="http://linkedin.com/in/dhruv-mehta-a6b20322a">LinkedIn</a></h2></li>
    <li><h2><a href="https://twitter.com/MeMitocondria">Twitter</a></h2></li>
    <li><h2><a href="mailto:dhruvmehta382@gmail.com">Mail</a></h2></li>
</ul>
<%- include("partials/footer.ejs"); %>
